@font-face {
font-display:block;
font-family:"Wasted Year Regular";
font-style:normal;
font-weight:400;
src:url(/fonts/Wasted-Year-Regular.woff2) format("woff2"),url(/fonts/Wasted-Year-Regular.woff) format("woff")
}