@font-face {
    font-family: 'Katerina Alt Oblique';
    src: url('KaterinaAlt-RegularOblique.eot');
    src: local('Katerina Alt Oblique'), local('KaterinaAlt-RegularOblique'),
        url('KaterinaAlt-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-RegularOblique.woff2') format('woff2'),
        url('KaterinaAlt-RegularOblique.woff') format('woff'),
        url('KaterinaAlt-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina Alt Black Oblique';
    src: url('KaterinaAlt-BlackOblique.eot');
    src: local('Katerina Alt Black Oblique'), local('KaterinaAlt-BlackOblique'),
        url('KaterinaAlt-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-BlackOblique.woff2') format('woff2'),
        url('KaterinaAlt-BlackOblique.woff') format('woff'),
        url('KaterinaAlt-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina Alt Light Oblique';
    src: url('KaterinaAlt-LightOblique.eot');
    src: local('Katerina Alt Light Oblique'), local('KaterinaAlt-LightOblique'),
        url('KaterinaAlt-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-LightOblique.woff2') format('woff2'),
        url('KaterinaAlt-LightOblique.woff') format('woff'),
        url('KaterinaAlt-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina Alt';
    src: url('KaterinaAlt-Light.eot');
    src: local('Katerina Alt Light'), local('KaterinaAlt-Light'),
        url('KaterinaAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-Light.woff2') format('woff2'),
        url('KaterinaAlt-Light.woff') format('woff'),
        url('KaterinaAlt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina Alt';
    src: url('KaterinaAlt-Medium.eot');
    src: local('Katerina Alt Medium'), local('KaterinaAlt-Medium'),
        url('KaterinaAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-Medium.woff2') format('woff2'),
        url('KaterinaAlt-Medium.woff') format('woff'),
        url('KaterinaAlt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina Alt';
    src: url('KaterinaAlt-Black.eot');
    src: local('Katerina Alt Black'), local('KaterinaAlt-Black'),
        url('KaterinaAlt-Black.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-Black.woff2') format('woff2'),
        url('KaterinaAlt-Black.woff') format('woff'),
        url('KaterinaAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina Alt Bold Oblique';
    src: url('KaterinaAlt-BoldOblique.eot');
    src: local('Katerina Alt Bold Oblique'), local('KaterinaAlt-BoldOblique'),
        url('KaterinaAlt-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-BoldOblique.woff2') format('woff2'),
        url('KaterinaAlt-BoldOblique.woff') format('woff'),
        url('KaterinaAlt-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina Alt';
    src: url('KaterinaAlt-Bold.eot');
    src: local('Katerina Alt Bold'), local('KaterinaAlt-Bold'),
        url('KaterinaAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-Bold.woff2') format('woff2'),
        url('KaterinaAlt-Bold.woff') format('woff'),
        url('KaterinaAlt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina Alt Medium Oblique';
    src: url('KaterinaAlt-MediumOblique.eot');
    src: local('Katerina Alt Medium Oblique'), local('KaterinaAlt-MediumOblique'),
        url('KaterinaAlt-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-MediumOblique.woff2') format('woff2'),
        url('KaterinaAlt-MediumOblique.woff') format('woff'),
        url('KaterinaAlt-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina Alt Thin Oblique';
    src: url('KaterinaAlt-ThinOblique.eot');
    src: local('Katerina Alt Thin Oblique'), local('KaterinaAlt-ThinOblique'),
        url('KaterinaAlt-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-ThinOblique.woff2') format('woff2'),
        url('KaterinaAlt-ThinOblique.woff') format('woff'),
        url('KaterinaAlt-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina Bold Oblique';
    src: url('Katerina-BoldOblique.eot');
    src: local('Katerina Bold Oblique'), local('Katerina-BoldOblique'),
        url('Katerina-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('Katerina-BoldOblique.woff2') format('woff2'),
        url('Katerina-BoldOblique.woff') format('woff'),
        url('Katerina-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina';
    src: url('Katerina-Bold.eot');
    src: local('Katerina Bold'), local('Katerina-Bold'),
        url('Katerina-Bold.eot?#iefix') format('embedded-opentype'),
        url('Katerina-Bold.woff2') format('woff2'),
        url('Katerina-Bold.woff') format('woff'),
        url('Katerina-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina';
    src: url('Katerina-Regular.eot');
    src: local('Katerina'), local('Katerina-Regular'),
        url('Katerina-Regular.eot?#iefix') format('embedded-opentype'),
        url('Katerina-Regular.woff2') format('woff2'),
        url('Katerina-Regular.woff') format('woff'),
        url('Katerina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina';
    src: url('Katerina-Light.eot');
    src: local('Katerina Light'), local('Katerina-Light'),
        url('Katerina-Light.eot?#iefix') format('embedded-opentype'),
        url('Katerina-Light.woff2') format('woff2'),
        url('Katerina-Light.woff') format('woff'),
        url('Katerina-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina Black Oblique';
    src: url('Katerina-BlackOblique.eot');
    src: local('Katerina Black Oblique'), local('Katerina-BlackOblique'),
        url('Katerina-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('Katerina-BlackOblique.woff2') format('woff2'),
        url('Katerina-BlackOblique.woff') format('woff'),
        url('Katerina-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina';
    src: url('Katerina-Black.eot');
    src: local('Katerina Black'), local('Katerina-Black'),
        url('Katerina-Black.eot?#iefix') format('embedded-opentype'),
        url('Katerina-Black.woff2') format('woff2'),
        url('Katerina-Black.woff') format('woff'),
        url('Katerina-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina Alt';
    src: url('KaterinaAlt-Regular.eot');
    src: local('Katerina Alt'), local('KaterinaAlt-Regular'),
        url('KaterinaAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-Regular.woff2') format('woff2'),
        url('KaterinaAlt-Regular.woff') format('woff'),
        url('KaterinaAlt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina Alt';
    src: url('KaterinaAlt-Thin.eot');
    src: local('Katerina Alt Thin'), local('KaterinaAlt-Thin'),
        url('KaterinaAlt-Thin.eot?#iefix') format('embedded-opentype'),
        url('KaterinaAlt-Thin.woff2') format('woff2'),
        url('KaterinaAlt-Thin.woff') format('woff'),
        url('KaterinaAlt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina Medium Oblique';
    src: url('Katerina-MediumOblique.eot');
    src: local('Katerina Medium Oblique'), local('Katerina-MediumOblique'),
        url('Katerina-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('Katerina-MediumOblique.woff2') format('woff2'),
        url('Katerina-MediumOblique.woff') format('woff'),
        url('Katerina-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina';
    src: url('Katerina-Medium.eot');
    src: local('Katerina Medium'), local('Katerina-Medium'),
        url('Katerina-Medium.eot?#iefix') format('embedded-opentype'),
        url('Katerina-Medium.woff2') format('woff2'),
        url('Katerina-Medium.woff') format('woff'),
        url('Katerina-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Katerina Thin Oblique';
    src: url('Katerina-ThinOblique.eot');
    src: local('Katerina Thin Oblique'), local('Katerina-ThinOblique'),
        url('Katerina-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('Katerina-ThinOblique.woff2') format('woff2'),
        url('Katerina-ThinOblique.woff') format('woff'),
        url('Katerina-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina Oblique';
    src: url('Katerina-RegularOblique.eot');
    src: local('Katerina Oblique'), local('Katerina-RegularOblique'),
        url('Katerina-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('Katerina-RegularOblique.woff2') format('woff2'),
        url('Katerina-RegularOblique.woff') format('woff'),
        url('Katerina-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina Light Oblique';
    src: url('Katerina-LightOblique.eot');
    src: local('Katerina Light Oblique'), local('Katerina-LightOblique'),
        url('Katerina-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('Katerina-LightOblique.woff2') format('woff2'),
        url('Katerina-LightOblique.woff') format('woff'),
        url('Katerina-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Katerina';
    src: url('Katerina-Thin.eot');
    src: local('Katerina Thin'), local('Katerina-Thin'),
        url('Katerina-Thin.eot?#iefix') format('embedded-opentype'),
        url('Katerina-Thin.woff2') format('woff2'),
        url('Katerina-Thin.woff') format('woff'),
        url('Katerina-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

