@font-face {
font-display:block;
font-family:"Poppy Fineliner Regular";
font-style:normal;
font-weight:400;
src:url(/fonts/Poppy-Fineliner-Regular.8accc16.woff2) format("woff2"),url(/fonts/Poppy-Fineliner-Regular.8437478.woff) format("woff")
}