@font-face {
font-display:block;
font-family:"Naturalist Regular";
font-style:normal;
font-weight:400;
src:url(/fonts/Naturalist-Regular.woff2) format("woff2"),url(/fonts/Naturalist-Regular.woff) format("woff")
}