@font-face {
font-display:block;
font-family:"Serial Regular";
font-style:normal;
font-weight:400;
src:url(/fonts/Serial-Regular.woff2) format("woff2"),url(/fonts/Serial-Regular.woff) format("woff")
}

@font-face {
font-display:block;
font-family:"Serial Alternates";
font-style:normal;
font-weight:400;
src:url(/fonts/Serial-Alternates-Regular.woff2) format("woff2"),url(/fonts/Serial-Alternates-Regular.woff) format("woff")
}